*{
    box-sizing: border-box;
}
.main-header{
    height: 450px;
    width: 100%;
}
.right-side h1{
    font-size: 3rem;
}
.rotate-corona img{
    animation: corona 3s linear infinite;
}
@keyframes corona{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.nav-style ul li a{
    size: 100px;
    color: black;
}
